@import "./variables.scss";

.heading {
  font-family: $font-family;
  margin-bottom: $base-spacing * 4;
  margin-top: $base-spacing * 4;
  text-align: center;
}

.grid {
  display: grid;
  font-family: $font-family;
  gap: $base-spacing * 4;
  grid-template-columns: repeat(auto-fill, 200px);
  justify-content: space-around;
}