@import "./variables.scss";

.app {
  background: linear-gradient(#57b6f1, #127CFB);
  background-repeat: no-repeat;
  min-height: 100vh;
  padding-bottom: $base-spacing * 4;
  padding-top: $base-spacing * 4;
}

.heading {
  font-family: $font-family;
  margin-bottom: $base-spacing * 4;
  text-align: center;
}

.grid {
  display: grid;
  font-family: $font-family;
  gap: $base-spacing * 4;
  grid-template-columns: repeat(auto-fill, 200px);
  justify-content: space-around;
  margin-left: $base-spacing * 2;
  margin-right: $base-spacing * 2;
}