@import url('https://fonts.googleapis.com/css2?family=Gudea&family=Red+Hat+Display&display=swap');

//borders:
$border: 1px solid black;
$shadow: 0 4px 7px rgba(0, 0, 0, 0.2), 0 4px 7px rgba(0, 0, 0, 0.27);

//spacing:
$base-spacing: 5px;

//colours: 
$color-background-white: #A86AFE;
$color-dark-blue: #127CFB;
$color-light-blue: #57b6f1;
$color-pink: #FA9EBC;

//fonts:
$font-family: 'Gudea', sans-serif;